<footer>
  <ul>
    <li>Início</li>
    <li>Personagens</li>
    <li>Séries e Filmes</li>
    <li>Tecnologia</li>
    <li>Contato</li>
  </ul>
  <ul>
    <li>Wiki oficial de Star Trek</li>
    <li>Memória Beta (Universo Expandido)</li>
    <li>Notícias sobre Star Trek</li>
    <li>Onde assistir</li>
    <li>Comunidade</li>
  </ul>
  <ul>
    <li>Sobre o site</li>
    <li>Política de Privacidade</li>
    <li>Termos de Uso</li>
    <li>Mapa do site</li>
    <li>Feedback/Sugestões</li>
  </ul>
  <!-- <ul>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
    <li>lorem</li>
  </ul> -->
</footer>
