<menu>
  <span>
    <img
      class="icons"
      src="../../../assets/icons/menu.png"
      alt="icone do menu"
    />
  </span>
  <div>
    <a href="#">personagens</a>
    <span class="animation"></span>
  </div>

  <div>
    <a href="#">naves</a>
    <span class="animation"></span>
  </div>
  <div>
    <a href="#">civilizações</a>
    <span class="animation"></span>
  </div>

  <div>
    <a href="#">cinema</a>
    <span class="animation"></span>
  </div>

  <div>
    <a href="#">séries</a>
    <span class="animation"></span>
  </div>

  <div>
    <a href="#">comunidade</a>
    <span class="animation"></span>
  </div>
</menu>
