<menu>
  <span (click)="toggleMenu()">
    <img
      class="icons"
      src="../../../assets/icons/menu.png"
      alt="icone do menu"
    />
  </span>
  <div class="menu-visibility" [class.active]="toggle">
    <div>
      <a [routerLink]="['/']">inicio</a>
      <span class="animation"></span>
    </div>
    <div>
      <a [routerLink]="['/characters']">personagens</a>
      <span class="animation"></span>
    </div>
    <div>
      <a [routerLink]="['/ships']">naves</a>
      <span class="animation"></span>
    </div>
    <div>
      <a [routerLink]="['/civilizations']">civilizações</a>
      <span class="animation"></span>
    </div>
    <div>
      <a href="#">cinema</a>
      <span class="animation"></span>
    </div>
    <div>
      <a href="#">séries</a>
      <span class="animation"></span>
    </div>
    <div>
      <a href="#">comunidade</a>
      <span class="animation"></span>
    </div>
  </div>
</menu>
