<app-nav-bar></app-nav-bar>
<section>
  <article>
    <h1>naves</h1>
    <p>
      as naves espaciais de star trek desempenham um papel central no universo
      da franquia, representando tanto a inovação tecnológica quanto os ideais
      de exploração pacífica. cada nave é projetada com características únicas
      que refletem sua função, sua tripulação e os desafios enfrentados em
      missões intergalácticas.
    </p>
    <span>
      <input type="number" [(ngModel)]="id" placeholder="números de 1 a 155" />
      <button (click)="getShipById()">buscar nave</button>
    </span>

    <div *ngIf="ships">
      <p><strong>nome:</strong> {{ ships.nome | lowercase }}</p>
      <p>
        <strong>número de registro:</strong>
        {{ ships.numero_registro | lowercase }}
      </p>
      <p><strong>classe:</strong> {{ ships.classe | lowercase }}</p>
      <p><strong>descrição:</strong> {{ ships.descricao | lowercase }}</p>
    </div>
  </article>
</section>
<app-footer></app-footer>
