<app-nav-bar></app-nav-bar>
<main class="home-background">
  <h1 [@scrollState]="scrollState">star trek</h1>
  <h2 [@scrollState]="scrollState">universe</h2>
  <picture [@shipScrollControl]="shipScrollState">
    <source
      media="(max-width: 800px )"
      srcset="../../../assets/images/naveP.png"
    />
    <img
      src="../../../assets/images/nave.png"
      alt="imagem da nave interprise"
    />
  </picture>
  <p [@paragraphScrollControl]="paragraphScrollControl">
    Espaço: a fronteira final. Estas são as viagens da nave estelar Enterprise.
    Sua missão de cinco anos: explorar novos mundos estranhos, buscar novas
    formas de vida e novas civilizações, e audaciosamente ir onde nenhum homem
    jamais esteve antes.
  </p>
</main>
