@media screen and (max-width: 800px) {
  main h1 {
    position: fixed;
    top: 200px;
    left: 10%;
    font-family: federation, Arial, Helvetica, sans-serif;
    font-size: 5rem;
    margin-left: 10px;
  }

  main h2 {
    position: fixed;
    top: 250px;
    left: 5%;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin: 20px 10px;
  }

  main p {
    position: relative;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    top: 70%;
    font-size: 1.5rem;
    color: #c3d5df;
    font-family: "Orbitron", serif;
  }
}
