<app-nav-bar></app-nav-bar>
<section>
  <h1>personagens</h1>
  <details>
    <summary>conheça alguns dos principais personagens de star trek</summary>
    <div *ngFor="let character of characters">
      <details>
        <summary class="content-character">
          {{ character.nome | lowercase }}, {{ character.idade }}
        </summary>
        <table>
          <tbody>
            <tr>
              <td>espécie:</td>
              <td>{{ character.especie | lowercase }}</td>
            </tr>
            <tr>
              <td>origem:</td>
              <td>{{ character.origem | lowercase }}</td>
            </tr>
            <tr>
              <td>historia:</td>
              <td>{{ character.biografia | lowercase }}</td>
            </tr>
          </tbody>
        </table>
      </details>
    </div>
  </details>
</section>
<app-footer></app-footer>
