@font-face {
  font-family: "federation";
  src: url("../../../assets/font/FEC_____.TTF") format("truetype");
}

section {
  width: 100%;
  min-height: 100vh;
  /* background-color: #050c22; */
  background-color: #34528e;
  padding-bottom: 60px;
}

section h1 {
  padding: 150px 5px 100px 5px;
  text-align: center;
  color: white;
  font-family: federation, Arial, Helvetica, sans-serif;
  font-size: 4rem;
}

section details {
  max-width: 900px;
  margin: auto;
  text-align: center;
  color: white;
}

.content-character {
  text-align: left;
  text-indent: 150px;
  padding: 15px;
  color: white;
}

table {
  text-align: left;
  margin-left: 200px;
}

table td {
  padding: 5px;
  line-height: 1.5;
}

table tr {
  color: black;
  font-weight: bolder;
  /* color: rgb(247, 227, 191); */
}
