@font-face {
  font-family: "federation";
  src: url("../../../assets/font/FEC_____.TTF") format("truetype");
}

section {
  width: 100%;
  min-height: 100vh;
  /* background-color: #050c22; */
  background-color: #34528e;
  padding-bottom: 60px;
}

section h1 {
  padding: 150px 5px 100px 5px;
  text-align: center;
  color: white;
  font-family: federation, Arial, Helvetica, sans-serif;
  font-size: 4rem;
}

section div {
  max-width: 900px;
  margin: auto;
}

table td {
  padding: 5px;
  line-height: 1.5;
}

table th {
  text-align: left;
  padding: 15px;
  color: white;
}

table tr {
  color: black;
  font-weight: bolder;
  /* color: rgb(247, 227, 191); */
}

.left-image {
  position: absolute;
  top: 100%;
  left: 10%;
  background-image: url("../../../assets/images/kirk.png");
  background-size: contain;
  width: 300px;
  height: 500px;
}

.left-image-mccoy {
  position: absolute;
  top: 500%;
  left: 10%;
  background-image: url("../../../assets/images/mccoy.png");
  background-size: contain;
  width: 150px;
  height: 450px;
}

.right-image {
  position: absolute;
  top: 300%;
  right: 10%;
  background-image: url("../../../assets/images/spock.png");
  background-size: contain;
  width: 300px;
  height: 500px;
}

.right-image-sulu {
  position: absolute;
  top: 700%;
  right: 10%;
  background-image: url("../../../assets/images/sulu.png");
  background-size: contain;
  width: 300px;
  height: 500px;
}
